
/* This is all the styles for the home page and game player */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#locator-h1 {
    margin-top: 20px;
    margin-bottom: 80px;
}

#games-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-width: 400px;
    width: 60%;
    max-width: 1000px;
}

#games-div h1 {
    font-size: 16pt;
}


#games-div img {
    width: 300px;
    height: 200px;
}

#game-link {
    text-decoration: none;
    color: white;
}

#game-link:hover {
    cursor: pointer;
}

#game-div {
     width: min-content;
     margin: 0 10px;
}

