
/* This place contains all the styles that are related to the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--header-bg);

    padding: 0 30px;

    height: 60px;

    border-bottom: solid 1px var(--header-bd);
}

header > h1 > a {
    color: var(--header-fg);
    text-decoration: none;
}

header > h1:hover > a {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;

    width: 600px;
    height: 100%;
}

nav > a {
    display: flex;
    align-items: center;

    color: var(--header-fg);
    text-decoration: none;

    padding: 10px 10px;
    border-radius: 5px;

    width: fit-content;
}

nav > a:hover {
    text-decoration: underline;
}